.navbar-custom {
    background-color: #E8DDB5;
}
.nav-link-custom, .nav-button-custom {
    background-color: #B2C9AB; 
    margin-right: 15px;
    border-radius: 15px;
    color: black;
    padding: 0.375rem 0.75rem;
    text-decoration: none; 
    display: inline-block; 
    transition: color 0.3s ease; 
}
.nav-link-custom:hover {
    color: #6668a6;
}

.search-bar-custom {
    border-radius: 200px;
    background-color: white;
    border: 1px solid #B2C9AB; 
    height: 38px;
    margin-right: -1px;
}
.search-bar-custom:focus {
    background-color: #d9c98f; 
    box-shadow: none;
}

.search-button-custom {
    border-radius: 15px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    display: flex;
}

.search-button-custom:hover {
    background-color: #9EB29F;
    color: white;
}

.nav-search-wrapper {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.nav-item:last-child {
    margin-right: 0;
}
