html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E8DDB5;
    font-family: "Adamina";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 150px;
    height: 100px;
    cursor: pointer;
    margin-top: -30px;
}

.navigation_links{
    margin-top: -1px;
    list-style: none;
}

.navigation_links li{
    font-size: 16px;
    display: inline-block;
    padding: 0 20px;
}

.navigation_links li a{
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #B2C9AB;
    color: black;
    transition: all 0.3s ease 0s;
}

.navigation_links li a:hover{
    color: orange;
}

@media screen and (max-width: 1031px) {
    .navigation_links {
        text-align: center;
    }

    .navigation_links li {
        display: block;
        margin-bottom: 30px;
    }
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 200px;
    margin-top: -20px;
    width: 200px;
    transition: background 0.25s;
}

.search:focus-within{
    background: #d9c98f;
}

.search-bar{
    font-size: 16px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-bar::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.banner {
    background-color: #666A86;
    color: white;
    text-align: left;
    padding: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
}

.slogan {
    max-width: 600px;
    margin: 0 auto;
}

.slogan h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.slogan p {
    font-size: 18px;
    margin: 0;
}

.register{
    margin-left: 40%;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%; /* Adjust the width based on your preference */
    max-width: 400px; /* Set a maximum width for larger screens */
}

@media screen and (max-width: 768px) {
    .register {
        width: 90%; /* Adjust the width for smaller screens */
    }
}

.register-head{
    padding: 20px 40px;
    margin-left: 110px;
}

.register-head h2{
    margin: 0 ;
}

.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 95%;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    top: 26px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.check-icon{
    visibility: visible;
    color: #2ecc71; 
}

.form-control.error i.error-icon{
    visibility: visible;
    color: #e74c3c; 
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

.form button{
    background-color: #666A86;
    border: 2px solid #666A86;
    color: white;
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    font-family: inherit;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #666a86;
    color: white;
    margin-top: 200px;
}

.wrapper h1 {
    font-size: 45px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 40px ;
}

.input-box input {
    transform: translatex(-19%);
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #d9c98f;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 45px 10px 20px;
    color: white;
}

.input-box input::placeholder {
    color: white;
}

.input-box i{
    position: absolute;
    margin-left: 275px;
    top: 50%;
    transform: translateY(10%);
}

.wrapper .remember-forgot {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper a {
    color: #d9c98f;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.wrapper .button {
    width: 100%;
    height: 30px;;
    background-color: #d9c98f;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid #666A86;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register-link {
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    font-size: 15px;
}